* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--secondary-color);
}

.scrollable {
  overflow-y: auto;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  margin-bottom: 90px;
}

h1 {
  color: var(--neutral-color);
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: var(--neutral-color);
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: relative;
  padding: 0;
}

.main {
  padding-top: 36px;
  padding-bottom: 36px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: space-between;
  align-items: center;
  max-height: calc(100vh - 60px - 90px - 80px);
  width: calc(100vw - 10vw);
  justify-self: center;
}

.explore-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 16px;
  width: 100%;
}

.trip-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 16px;
  background-color: var(--secondary-color);
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  color: #062923;
  font-size: 16px;
  gap: 12px;
  flex-wrap: wrap;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.stat-item img {
  width: 20px;
  height: 20px;
}

.explore-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 20px;
  width: 100%;
  border-radius: 25px;
  border: 1px solid var(--neutral-color-20);
  background-color: var(--secondary-color);
}

.explore-icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*DROPDOWN*/
.green-routes-dropdown {
  display: none;
  margin-top: 12px;
  width: 100%;
  padding: 0 4px;
  box-sizing: border-box;
}

.route-title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 12px;
}

.green-routes-dropdown img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.explore-card-full {
  border: 1px solid var(--neutral-color-20);
  border-radius: 25px;
  background-color: var(--secondary-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.explore-card-header {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  width: 100%;
  cursor: pointer;
}

.explore-text {
  flex: 1;
  padding: 0 12px;
  font-family: Inter;
  font-size: 16px;
  color: var(--neutral-color);
  text-align: left;
}

.explore-arrow img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
  /* rotation animation */
}

.green-routes-inner {
  display: none;
  padding: 0;
}

.green-routes-inner.show {
  display: block;
}

.display-map {
  height: 400px;
  width: 100%;
  border-radius: 12px;
  background: none;
}
