#nav {
  position: fixed;
  bottom: 0;
  display: flex;
  height: 90px;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  gap: 5vw;
  background-color: var(--secondary-color);
  width: 90vw;
}

.nav-icon {
    width: 46px;
    height: 46px;
}

/* Small phones (<= 480px) */
@media (max-width: 480px) {
  #nav {
    width: 90vw;
  }

  .nav-icon {
    width: 36px;
    height: 36px;
  }
}

/* Tablets (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  #nav {
    width: 80vw;
  }
}

/* Desktops (769px and up) */
@media (min-width: 769px) {
  #nav {
    width: 40vw;
  }
}