* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--secondary-color);
}

h1 {
  color: var(--neutral-color);
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: var(--neutral-color);
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px; /* TODO: ADJUST AS NEEDED. MAYBE ADD PADDING.*/
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: relative;
  padding: 0;
}

.scrollable {
  overflow-y: auto;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  margin-bottom: 90px;
}

.main {
  padding-top: 36px; /* ADOPT LATER */
  padding-bottom: 36px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-height: calc(100vh - 60px - 90px - 80px);
}

.circle-container {
  position: relative;
}

.circle-container,
.circle,
.circle-data {
  margin-top: 1rem; /* SAME AS ABOVE */
}

.circle {
  position: absolute;
  width: 17rem;
  height: 17rem;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 0;
}

.circle-data {
  display: flex;
  flex-direction: column;
  height: 17rem;
  align-items: center;
  justify-content: center;
}

.circle-text {
  text-align: center;
}

#circle-number {
  color: var(--primary-color);
  font-family: Poppins;
  font-size: 3em;
  font-weight: 600;
  height: 1.2em;
}

.circle-unit {
  font-family: Inter;
  font-size: 1em;
  color: var(--neutral-color);
  opacity: 70%;
}

.circle-unit .sub {
  font-size: 0.7em;
  vertical-align: 0.08em;
  line-height: 1;
}

#transport {
  display: flex;
  height: 53px;
  padding: 10px 20px;
  justify-content: space-between;
  gap: 10px;
  align-self: stretch;
  border-radius: 25px;
  border: 1px solid var(--neutral-color-20);
  background-color: var(--secondary-color);
  white-space: nowrap;
  width: 80%;
}

.transport-type {
  gap: 10px;
}

.transport-value {
  gap: 10px;
}

#transport-type {
  color: var(--neutral-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

#transport-value {
  color: var(--neutral-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.car {
  width: 36px;
  height: 36px;
}

/* Changes to func */
.dropdown {
  display: none;
  pointer-events: none;
  color: var(--secondary-color);
}

.dropdown.visible {
  display: block;
  pointer-events: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px 10px;
  cursor: pointer;
}

li:hover {
  background-color: var(--primary-color);
}

.transport {
  cursor: grab;
  width: 80%;
}

.transport.transformed {
  border: 1px solid var(--neutral-color);
  border-radius: 24px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 80%;
}

#transport-tagline {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: none;
}

button#transport {
  width: 100%;
}

.transport-tagline-text {
  color: var(--secondary-color);
}

.arrow-icon {
  width: 16px;
  height: 16px;
}

.transport-middle {
  text-align: left;
}

#vehichle-type {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.75em;
}

#vehichle-time {
  font-family: Inter;
  font-weight: 400;
  font-size: 1em;
}

#transport-end {
  font-family: Inter;
  font-weight: 600;
  font-size: 1em;
}

.transport-holder {
  margin-left: 5vw;
  margin-right: 5vw;
}

.transport-button {
  height: 53px;
  padding: 10px;
  justify-content: space-between;
  gap: 10px;
  align-self: stretch;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
  font-family: Inter;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  border: none;
}

.border {
  border: 1px solid var(--secondary-color);
  border-radius: 24px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.transport-button:focus {
  background-color: inherit;
  box-shadow: none;
  border: none;
  transform: none;
}

#transport-type-change-dropdown {
  display: none;
  padding-top: 1rem;
}

#transport-type-change-dropdown.visible {
  display: block;
}

.car-type-dropdown {
  padding-left: 0;
}

.accent-button {
  background-color: var(--accent-color);
  border-radius: 24px;
  box-shadow: none;
  border: none;
}

.button-center-content {
  justify-self: center;
  text-align: center;
}

.confirm-buttons {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1rem;
  gap: 2rem;
}

.button-active:active.accent-button:active {
  background-color: var(--accent-color-50);
}

.button-active:active.accent-button:focus {
  background-color: inherit;
}

.button-active:active.button-discard:active {
  background-color: var(--neutral-color);
}

.button-active:active.button-discard:active {
  background-color: var(--neutral-color);
}